<!DOCTYPE html>
<html>
<head>
	<title>Article Library</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		.navbar {
			margin-bottom: 0;
		}

		.jumbotron{
			height: 250px;
			background: #5a2782; /* For browsers that do not support gradients */
		  background: -webkit-linear-gradient(left top, #d66bb2, #5a2782); /* For Safari 5.1 to 6.0 */
		  background: -o-linear-gradient(bottom right, #d66bb2, #5a2782); /* For Opera 11.1 to 12.0 */
		  background: -moz-linear-gradient(bottom right, #d66bb2, #5a2782); /* For Firefox 3.6 to 15 */
		  background: linear-gradient(to bottom right, #d66bb2, #5a2782); /* Standard syntax */
		}

		#title {
			color: white;
		}

	</style>
</head>
<body>



